.content{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.welcome-text {
    text-align: center;
    margin: 5rem 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.welcome-text h1 {
    font-size: 1.5rem;
    font-weight: 700;
}
.welcome-text p {
    font-size: 1.125rem;
    max-width: 800px;
}
.section-title {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
}
.events-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
}
        /* 
        <div class="events-section">
            <h2 class="section-title">Current events</h2>
            <div class="events-list"></div>
        </div> */
